{% set final_title = title ?: content.title %}  
{% set final_section_class = section_class ?: 'last-section' %}
<div class="gallery-section {{final_section_class|raw}}">
    {% if final_title is not null %}
    <div class="page-heading">
      <h2>{{ final_title }}</h2>
    </div>
    {% endif %}
    <div class="gallery-list-section">
      <div class="row">
        {% if content.images is iterable and content.images is not empty %}
              {% for image in content.images %}
              <div class="gallery-box">
                  <a data-title="{{ image.name }}" data-gallery="multiimages" data-toggle="lightbox" href="{{ asset(image.thumbnails['gallery-large']) }}">
                      <img class="img-responsive" src="{{ asset(image.thumbnails['gallery-thumb'])}}" alt="{{ image.name }}" />
                  </a>
              </div>
              {% endfor %}
        {% endif%}
      </div>
    </div>
  </div>