{% for gallery in content %}
    {% set final_title = null %}
    {% if loop.last == true and final_section_class is defined and final_section_class == true %}
        {% set section_class = 'last-section'%}
    {% else %}
        {% set section_class = ''%}
    {% endif %}
    {% if loop.first == true %}
        {% set final_title = title is defined ? title : gallery.title %}
    {% else %}
        {% set final_title = null%}
    {% endif %}
    
<div class="gallery-section {{section_class|raw}}">
    {% if final_title is not null %}
    <div class="page-heading">
      <h2>{{ final_title }}</h2>
    </div>
    {% endif %}
    <div class="gallery-list-section">
      <div class="row">
        {% if gallery.images is not empty %}
              {% for image in gallery.images %}
              <div class="gallery-box">
                  <a data-title="{{ image.name }}" data-gallery="multiimages" data-toggle="lightbox" href="{{ asset(image.thumbnails['gallery-large']) }}">
                      <img class="img-responsive" src="{{ asset(image.thumbnails['gallery-thumb'])}}" alt="{{ image.name }}" />
                  </a>
              </div>
              {% endfor %}
        {% endif%}
      </div>
      {% if loop.last and gallery_link is defined and gallery_link is not empty %}
          {% set gallery_link = sulu_content_load(gallery_link) %}
          {% set gallery_link = gallery_link.content.url %}
      <div class="see-more-btn"><a href="{{ sulu_content_path(gallery_link) }}">{% trans %}See more photos{% endtrans %}</a></div>
      {% endif %}
    </div>
  </div>
{% endfor %}
