{% set webspace_key = request.webspaceKey %}
{% set footer_class = footer_parent_class is defined ? footer_parent_class : ''%}
<footer class="{{footer_class|raw}}">
  <div class="footer-top-part">
  	<div class="footer-img"><img src="{{ asset('bundles/pmgsocial/pmg_social/'~webspace_key~'/images/footer-img.png') }}" alt="" /></div>
    <div class="row">
      <div class="col-sm-3 footer-logo">
          <a href="{{ sulu_content_root_path() }}">
              <img src="{{ asset('bundles/pmgsocial/pmg_social/'~webspace_key~'/images/logo.png') }}" alt="" />
          </a>
      </div>
      <div class="col-sm-9 footer-right">
        {% if pmg_social is defined and pmg_social.social_profiles[webspace_key] is defined and pmg_social.social_profiles[webspace_key] is not empty %}
            {% set social_profiles = pmg_social.social_profiles[webspace_key] %}
        <div class="social-media">
            {% if social_profiles.facebook is defined%}<a href="{{ social_profiles.facebook }}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/fb-icon.png') }}" alt="" /></a>{% endif %}
            {% if social_profiles.twitter is defined%}<a href="{{ social_profiles.twitter }}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/twitter-icon.png') }}" alt="" /></a>{% endif %}
            {% if social_profiles.linkedin is defined%}<a href="{{social_profiles.linkedin}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/linked-icon.png') }}" alt="" /></a>{% endif %}
        </div>
        {% endif %}          
        <div class="footer-nav">
          <ul>
            <li><a href="{{ sulu_content_root_path() }}">{% trans %} HOME {% endtrans %}</a></li>
            {% for item in sulu_navigation_root_tree('main') %}
            <li>
                <a href="{{ sulu_content_path(item.url) }}" title="{{ item.title }}">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="footer-content">
      <div class="row">
        <div class="col-sm-4 copyright-text">{% trans %}2015 All rights reserved PMG group{% endtrans %}</div>
        <div class="col-sm-8 sponsor-logos">
            <a href="{{ sulu_content_path('/','plazavolare_social')}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-1.png') }}" alt="" /></a>
            <a href="{{ sulu_content_path('/','la_plaza_social')}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-2.png') }}" alt="" /></a>
            <a href="{{ sulu_content_path('/','plazaantique_social')}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-3.png') }}" alt="" /></a>
            <a href="{{ sulu_content_path('/','embassyplaza_social')}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-4.png') }}" alt="" /></a>
            {# <a href=""><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-5.png') }}" alt="" /></a> #}
            <a href="{{ sulu_content_path('/','plazacentreville_social')}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-6.png') }}" alt="" /></a>
            <a href="{{ sulu_content_path('/','plazagardeninn_social')}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-7.png') }}" alt="" /></a>
            {# <a href="{{ sulu_content_path('/','challengerpiazza_social')}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-8.png') }}" alt="" /></a> #}
            <a href=""><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/sponsor-logo-9.png') }}" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>        
