{% set webspace_key = request.webspaceKey %}
{% set alter_webspace_key = request.webspaceKey|replace({'_social' : '_corp'} )%}
{% if request.locale == 'en' %}
    {% set alter_locale = 'fr' %}
{% else %}
    {% set alter_locale = 'en' %}
{% endif %}    
<header>
    <div class="row">
      <div class="col-md-3 brand-logo">
        <div class="brand-img">
            <a href="{{ sulu_content_root_path() }}">
                <img src="{{ asset('bundles/pmgsocial/pmg_social/'~webspace_key~'/images/logo.png') }}" alt="" />
            </a>
        </div>
          {% include 'PmgSocialBundle:blocks:social.html.twig' %}
      </div>
      <div class="col-md-9 header-right-part">
        <div class="top-right">
            <!-- {# <a href="{{ sulu_content_path('/',alter_webspace_key)}}">{% trans %}Corporate{% endtrans %}</a> #} -->
            <a href="{{ sulu_content_path((urls[alter_locale]?:'/'),request.webspaceKey,alter_locale) }}">
                <span class="flag">
                    <img src="{{ asset("bundles/pmgsocial/pmg_social/default/images/"~alter_locale~"-flag.png") }}" alt="{{ alter_locale }}" />
                </span>
            </a>
        </div>
        <nav class="navbar navbar-default">
          <div class="">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ sulu_content_root_path() }}">{% trans %}HOME{% endtrans %}</a></li>
                    {% if sulu_navigation_root_tree('main') is not empty %}
                    {% for item in sulu_navigation_root_tree('main',2) %}
                    <li {% if item.children|length > 0%} class="dropdown mega-dropdown" {% endif %} >
                        <a href="{{ sulu_content_path(item.url,item.webspaceKey) }}"
                           data-target="{{ sulu_content_path(item.url,item.webspaceKey) }}"
                            title="{{ item.title }}"
                            {% if item.children|length > 0%} class="dropdown-link" data-toggle="dropdown" {% endif %}
                            >{{ item.title }}</a>
                        {% if item.children|length > 0 %}
                            <ul class="dropdown-menu mega-dropdown-menu row">
                            {% for child in item.children %}
                                <li class="col-sm-4">
                                    <div class="megamenu-content">
                                        <a href="{{ sulu_content_path(child.url,child.webspaceKey) }}" 
                                           title="{{ child.title }}">
                                            {% set child_content = sulu_content_load(child.uuid) %}
                                            {% set child_content = child_content.content %}
                                            {% if child_content.header_images is defined and child_content.header_images is not empty %}
                                                {% set section_image = random(child_content.header_images)%}
                                                {% set section_image = section_image.thumbnails['menu-thumb']%}
                                            {% else %}
                                                {% set section_image = 'bundles/pmgsocial/pmg_social/default/images/halls-img-1.jpg'%}        
                                            {% endif %}
                                            <img src="{{ asset(section_image)}}" alt="" />
                                        <h6>{{ child.title }}</h6>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>