<div class="social-media">
{% set social_profiles = [] %}
{% if pmg_social is defined and pmg_social.social_profiles[webspace_key] is defined and pmg_social.social_profiles[webspace_key] is not empty %}
    {% set social_profiles = pmg_social.social_profiles[webspace_key] %}
{% endif %}
    {% set facebook_link = social_profiles.facebook is defined ? social_profiles.facebook : 'https://www.facebook.com/LaPlazaPMG'%}
    {% set twitter_link = social_profiles.twitter is defined ? social_profiles.twitter : ' https://twitter.com/plazapmg'%}
    {% set instagram_link = social_profiles.instagram is defined ? social_profiles.instagram : '  https://www.instagram.com/pmg.group/'%}

    <a href="{{ facebook_link }}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/fb-icon.png') }}" alt="" /></a>
    <a href="{{ twitter_link }}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/twitter-icon.png') }}" alt="" /></a>
    <a href="{{ instagram_link }}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/linked-icon.png') }}" alt="" /></a>
</div>
          
