  <div class="banner-section">
    <div class="banner-img menu-bannerimg"><img {{ asset('assets/pmg_social/default/images/halls-detail-img.jpg')}} alt="" /></div>
  </div>
  <div class="halls-information-section">
    <div class="container">
      <h2>international room</h2>
      <p> One of the largest halls in the Greater Montreal area, it can easily accommodate 2,000 attendees for events, meetings, conventions and exhibits. With the ability to divide into 4 different sections, this flexible space can easily meet the needs of a variety of simultaneous functions. The uniqueness of the International room is complemented by a 4 seasons 3600 square feet tent, with a 20 foot ceiling, giving your event an exotic environment. </p>
    </div>
  </div>
  <div class="dimension-section">
    <div class="page-heading">
      <h2>Dimensions & Capacity</h2>
    </div>
    <div class="dimension-content-box">
      <div class="table-responsive">
        <table>
          
          <tbody>
          	<tr>
          	<th>Hall</th>
            <th>Dimensions (ft)</th>
            <th>Sq. Feet</th>
            <th>Height (ft)</th>
            <th>Reception/Cocktail</th>
            <th>Banquet</th>
            <th>Theater/Classroom</th>
          </tr>
            <tr>
              <td>McGill ABC</td>
              <td>90 x 17</td>
              <td>1530</td>
              <td>9.6</td>
              <td>200</td>
              <td>110</td>
              <td>180 / 80</td>
            </tr>
            <tr>
              <td>McGill ABC</td>
              <td>90 x 17</td>
              <td>1530</td>
              <td>9.6</td>
              <td>200</td>
              <td>110</td>
              <td>180 / 80</td>
            </tr>
            <tr>
              <td>McGill ABC</td>
              <td>90 x 17</td>
              <td>1530</td>
              <td>9.6</td>
              <td>200</td>
              <td>110</td>
              <td>180 / 80</td>
            </tr>
            <tr>
              <td>McGill ABC</td>
              <td>90 x 17</td>
              <td>1530</td>
              <td>9.6</td>
              <td>200</td>
              <td>110</td>
              <td>180 / 80</td>
            </tr>
            <tr>
              <td>McGill ABC</td>
              <td>90 x 17</td>
              <td>1530</td>
              <td>9.6</td>
              <td>200</td>
              <td>110</td>
              <td>180 / 80</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="halls-stup-section">
    <div class="setup-content">
      <div class="page-heading">
        <h2>Hall Setup</h2>
      </div>
      <div class="setup-info-box"> <img {{ asset('assets/pmg_social/default/images/setup-img.jpg')}} alt="" /> </div>
      <div class="download-btn"> <a href="">Download the complete hall info</a> </div>
    </div>
  </div>
  <div class="gallery-section last-section">
    <div class="page-heading">
      <h2>Gallery</h2>
    </div>
    <div class="gallery-list-section">
      <div class="row">
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-1.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-1.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-2.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-2.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-3.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-3.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-4.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-4.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-5.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-5.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-6.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-6.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-7.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-7.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-8.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-8.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-9.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-9.jpg')}} alt="" /> </a> </div>
        <div class="gallery-box"> <a data-title="" data-gallery="multiimages" data-toggle="lightbox" href="images/gallery-10.jpg"> <img class="img-responsive" {{ asset('assets/pmg_social/default/images/gallery-10.jpg')}} alt="" /> </a> </div>
      </div>
      <!-- <div class="see-more-btn"><a href="">See more photos</a></div> --> 
    </div>
  </div>
  <div class="push"></div>
