{% extends ":default:views/master.html.twig" %}

{% block meta %}{% include ":default:blocks/meta.html.twig" %}{% endblock %}

{% block content %}
  <div class="banner-section" vocab="http://schema.org/" typeof="Content">
    <div class="banner-img">
        {% if content.slides %}
            {% block scripts %}
            
            
            {% endblock %}
            <img src="{{ asset(content.slides[0].url) }}" alt="" />
        {% else %}
        <img src="{{ asset('assets/pmg_social/default/images/banner-img.jpg') }}" alt="" />
        {% endif %}
    </div>
    <div class="main-info">
      <div class="row">
        <div class="col-md-8 left-info">
          <h2>{{ content.slogan }}</h2>
          <p>{{ content.slogan_text }}</p>
        </div>
        <div class="col-md-4 right-info">
          <div class="right-info-content">
            <div class="highlight-text-box">{{ content.first_number }} <span class="highlighted-text"></span> {{ content.first_number_text }}</div>
            <div class="highlight-text-box"> <span class="highlighted-text">{{ content.second_number }} </span> {{ content.second_number_text }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-section">
    <div class="service-text"> 
        <span class="bridal-text">{% trans %}Bridal Showers{% endtrans %}</span> 
        <span class="wedding-text">{% trans %}Weddings{% endtrans %}</span> 
        <span class="baptisms-text">{% trans %}Baptisms{% endtrans %}</span> 
        <span class="anniversaries-text">{% trans %}Anniversaries{% endtrans %}</span> 
        <span class="musical-text">{% trans %}Musical Evenings{% endtrans %}</span> </div>
  </div>
  <div class="over-menu-section">
    <div class="menu-img"><img src="{{ asset('assets/pmg_social/default/images/menu-img.jpg') }}" alt="" /></div>
    <div class="check-menu-btn">
        <a href="">{% trans %}Check out our menus{% endtrans %}</a>
    </div>
  </div>
  <div class="testimonial-section">
    <div class="container">
      <div class="testimonial-title">
        <h2>{% trans %}Testimonials{% endtrans %}</h2>
        <div class="read-more-btn"><a href="testimonials.html">{% trans %}Read more{% endtrans %}</a></div>
      </div>
      <div class="testimonial-content">
        <p> “Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.” </p>
        <div class="author-name"> - Black Theatre </div>
      </div>
    </div>
  </div>
  <div class="halls-section">
    <div class="row">
      <div class="col-sm-9 halls-title-right">
        <div class="halls-title-img"> <img src="{{ asset('assets/pmg_social/default/images/halls-title-img.jpg') }}" alt="" />
          <h2>{% trans %}Our Halls{% endtrans %}</h2>
        </div>
      </div>
      <div class="col-sm-3 halls-menu-left">
        <div class="halls-menu-section">
          <div class="halss-menu-box box-1"> <a href="javascript:void(0)">International Room</a> </div>
          <div class="halss-menu-box box-2"> <a href="javascript:void(0)">Madrid - Rio</a> </div>
          <div class="halss-menu-box box-3"> <a href="javascript:void(0)">Berlin</a> </div>
          <div class="halss-menu-box box-4"> <a href="javascript:void(0)">Oslo</a> </div>
          <div class="halss-menu-box box-5"> <a href="javascript:void(0)">Paris - Rome</a> </div>
          <div class="halss-menu-box box-6"> <a href="javascript:void(0)">Venise</a> </div>
          <div class="halss-menu-box box-7"> <a href="javascript:void(0)">Connexion Lounge</a> </div>
          <div class="halss-menu-box box-8"> <a href="javascript:void(0)">Restaurant Volare</a> </div>
          <div class="halss-menu-box box-9"> <a href="javascript:void(0)">The Outdoor Garden</a> </div>
          <div class="halss-menu-box box-10 "> <a href="javascript:void(0)">The Outdoor Garden</a> </div>
          <div class="halss-menu-box box-11"> <a href="javascript:void(0)">The Outdoor Garden #2</a> </div>
          <div class="halss-menu-box box-12"> <a href="javascript:void(0)">New York Suite</a> </div>
        </div>
      </div>
    </div>
    <div class="show-hide-box" id="showbox-1">
      <div class="close-btn">&times;</div>
      <div class="show-img"> <img src="{{ asset('assets/pmg_social/default/images/show-box-1.jpg') }}" alt="" /> </div>
      <div class="halls-show-content">
        <div class="halls-info">
          <p> One of the largest halls in the Greater Montreal area, it can easily accommodate 2,000 attendees for events, meetings, conventions and exhibits. With the ability to divide into 4 different sections, this flexible space can easily meet the needs of a variety of simultaneous functions. The uniqueness of the International room is complemented by a 4 seasons 3600 square feet tent, with a 20 foot ceiling, giving your event an exotic environment. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-map-section">
    <div class="map-part">
      <div id="googleMap" class="map-google"></div>
    </div>
    <div class="container">
      <div class="contact-info">
        <h2>{% trans %}Contact us{% endtrans %}</h2>
        <div class="contact-content">
          <p>6600 Cote-de-Liesse, Saint-Laurent, QC H4T 1E3. Canada</p>
          <p> <strong>Tel:</strong> (514) 735-5150 </p>
          <p> <strong>{% trans %}Fax:{% endtrans %}</strong> (514) 735-6132 </p>
          <p> <a href="mailto:info@plazavolare.com">info@plazavolare.com</a> </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
