{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    {% set location = content.location %}
      <div class="banner-section contact-banner">
    <div class="banner-img">
    	<div class="contact-form-section">
            	<div class="overlay-content"></div>
                <div class="contact-form">
                	<h2>CONTACT US</h2>
                    <div class="form-row">
                    	<label>Hello my name is</label>
                        <input type="text">
                    </div>
                    <div class="form-row">
                    	<label>I’m interested in</label>
                        <input type="text">
                    </div>
                    <div class="form-row">
                    	<label>Here’s my e-mail</label>
                        <input type="email">
                    </div>
                    <div class="form-row">
                    	<label>I can give you more details</label>
                       <input type="text" class="width55">
                       <input type="text" class="width100">
                       <input type="text" class="width100">
                       <input type="text" class="width100">
                    </div>
                    <div class="form-row">
                    	<input type="submit" value="Send">
                    </div>
                </div>
            
            </div>
    </div>
  </div>
  <div class="contact-page-section">
  	<div class="container">
    	<div class="row">
            <div class="equal-table-height">
                <div class="col-sm-4 contact-address">
                <div class="contact-address-content">
                    <h6>Please do not hesitate to contact us should you require further information.</h6>
                    <p><span class="contact-icon-img"><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/location-icon.png') }}" alt="" /></span>
                    {% if content.location is defined %}
                    {% set location = content.location %}
                        {{ location.number~' '~location.street }}<br>
                        {{ location.town }}<br>
                        {{ location.code }}. Canada
                    {% else %} 
                        6600 Cote-de-Liesse,<br>Saint-Laurent, QC<br>H4T 1E3. Canada
                    {% endif %}

                    </p>
                    {% if content.phones is defined %}
                    <p><span class="contact-icon-img"><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/mobile-icon.png') }}" alt="" /></span>
                        {% for phone in content.phones %}
                        {{ phone.phone }}
                        {% endfor %}
                        
                    </p>
                    {% endif %}
                    {% if content.faxes is defined %}
                    <p>
                        <span class="contact-icon-img">
                            <img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/fax-icon.png') }}" alt="" /></span>
                            {% for fax in content.faxes %}
                            {{ fax.phone }}
                            {% endfor %}
                    </p>

                    {% endif %}
                    {% if content.emails is defined %}
                    <p><span class="contact-icon-img"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/email-icon.png') }}" alt="" /></span>
                        {% for email in content.emails %}
                        <a href="mailto:{{ email.email|raw }}">{{email.email}}</a>
                        {% endfor %}                    
                    </p>
                    {% endif %}
                </div>
            </div>	
                <div class="col-sm-8 contact-map">
                <div id="googleMap" class="map-google"></div>
            </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}