{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
      <div class="banner-section">
    <div class="banner-img"><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-inner-banner.jpg') }}" alt="" /></div>
  </div>
  <div class="inner-content-section halls-page-section">
  	<h2>our halls</h2>
  	<div class="container">
    	<div class="halls-list-section">
            <div class="row">
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-1.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">International Room</a></h4>
                        <p>
                        	 Can easily accommodate 2,000 attendees for events, meetings, conventions and exhibits.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-2.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">Paris - Rome</a></h4>
                        <p>
                        	The Paris - Rome Ballroom features 3100 square feet of flexible meeting space that can break down into two sections or be used for exhibitions.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-3.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">VENISE</a></h4>
                        <p>
                        	 For groups between 120 and 150 the Venise room features 2380 square feet with 12" ceiling and offers maximum flexibility.
                        </p>
                    </div>
                </div>
                
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-4.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">Madrid - Rio</a></h4>
                        <p>
                        	 The combined rooms cans host smaller groups of 50 to 60 people and be separated for more intimate events.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-5.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">Berlin</a></h4>
                        <p>
                        	 Each of these rooms cans host between 50 to 70 people. They offer an elegant setting for cocktails and receptions.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-6.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">Oslo</a></h4>
                        <p>
                        	Each of these rooms cans host between 50 to 70 people. They offer an elegant setting for cocktails and receptions. 
                        </p>
                    </div>
                </div>
                
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-7.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">Connexion Lounge</a></h4>
                        <p>
                        	A relaxing area with full bar service. Television and Pool room 
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-8.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">Restaurant Volare</a></h4>
                        <p>
                        	 Open for breakfast lunch and diner. Can also be used for pre function cocktails and banquet hall. 
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-9.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">The Outdoor Garden</a></h4>
                        <p>
                        	 During the summer extend your event to our garden area. 
                        </p>
                    </div>
                </div>
                
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-3.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">The Tent</a></h4>
                        <p>
                        	 It’s just a tent where you can have parties! 
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-11.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">THE Outdoor Garden #2</a></h4>
                        <p>
                        	 During the summer extend your event to our garden area. 
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 halls-list-box">
                	<div class="halls-list-img"><a href=""><img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/halls-list-12.jpg') }}" alt="" /></a></div>
                    <div class="halls-list-content">
                    	<h4><a href="">THE Outdoor Garden #2</a></h4>
                        <p>
                        	 or executives and board meetings. This room provides 15 high-black leather chairs around a 12 foot table. 
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
  </div>
  
  
  <div class="push"></div>

{% endblock %}
