{% set webspace_key = request.webspaceKey %}
{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    <div class="banner-section">
    <div class="banner-img">
        {% if content.slides %}
            <img src="{{ asset(content.slides[0].thumbnails['section-header-corp']) }}" alt="" />
        {% else %}
        <img src="{{ asset('bundles/pmgsocial/pmg_corp/default/images/home-banner-img.jpg') }}" alt="" />
        {% endif %}
    </div>
  </div>
  <div class="comman-section about-section">
  	<div class="container">
          <h2>{{ content.slogan }}</h2>
          <p>{{ content.slogan_text }}</p>
    </div>
  </div>
  
 {% if content.halls_list is defined and content.halls_list is not empty %}
    {% set hall_content = [] %}
    {% for hall in content.halls_list %}
        {% set hall_content = hall_content|merge({ (loop.index) : sulu_content_load(hall.uuid)})  %}
    {% endfor %}
  <div class="halls-section tabcontainermain">
    <div class="row">
      <div class="equal-table-height">
        <div class="col-sm-4 halls-tab-left">
          <div class="halls-tab-list">
            <div class="halls-tab-logo"><img src="{{ asset('bundles/pmgsocial/pmg_corp/'~webspace_key~'/images/halls-tab-logo.png') }}" alt="" /></div>
            <h3>{% trans %}OUR HALLS{% endtrans %}</h3>
            <ul class="tabs">
              {% for hall in hall_content%}
                {% set hall_slug = 'hall-'~hall.content.url| replace({'/':'-'}) %}
              <li {% if loop.first %}class="active"{% endif %} rel="{{ hall_slug|raw }}">{{ hall.content.title }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-sm-8 halls-info-right tab_container">
        {% for hall in hall_content%}
            {% if hall.content.header_images is defined and hall.content.header_images is not empty %}
                {% set hall_image = random(hall.content.header_images) %}
                {% set hall_image = hall_image.thumbnails['home-hall-preview'] %}
            {% else %}
                {% set hall_image = 'bundles/pmgsocial/pmg_social/default/images/halls-detail-img.jpg' %}
            {% endif %}

            {% set hall_slug = 'hall-'~hall.content.url| replace({'/':'-'}) %}
          <div id="{{hall_slug}}" class="halls-detail-part tab_content">
            <div class="halls-tab-detail-content">
              <h2>{{ hall.content.title }}</h2>
              <p>{{ hall.content.description|slice(0, 255)|nl2br }}</p>
              <div class="more-info-btn"><a href="{{ sulu_content_path(hall.content.url) }}">{% trans %}MORE INFO{% endtrans %}</a></div>
            </div>
            <div class="halls-big-img">
              <div class="overlay-color"></div>
              <img src="{{ asset(hall_image) }}" alt="" /> </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <div class="testimonial-contact-section">
        <div class="equal-table-height">
            <div class="col-sm-8 testimonial-section">
        	<div class="testimonial-content">
            	<h3>{% trans %}TESTIMONIALS{% endtrans %}</h3>
            {% if content.testimonials is defined and content.testimonials is not empty %}
                {% set testimonialDoc = sulu_content_load(content.testimonials)%}
                {% if testimonialDoc.content.testimonials is not empty %}
                {% set testimonial = random(testimonialDoc.content.testimonials) %}
                <div class="testimonial-info">

                    <p>{{ testimonial.article|slice(0, 255)|nl2br}}</p>
               </div>
               <div class="more-info-btn">
                    <a href="{{ sulu_content_path(testimonialDoc.content.url)  }}">{%trans%}READ MORE{%endtrans%}</a>
                </div>
            {% endif %}
            </div>
        {% endif %}
        {% if content.link_blocks is defined and content.link_blocks is not empty %}
            {% for link in content.link_blocks %}
            {% if link.images is not empty %}
                {% set link_image = random(link.images) %}
                {% set link_image = link_image.thumbnails['home-link-thumb'] %}
            {% else %}
                {% set link_image = 'bundles/pmgsocial/pmg_corp/default/images/check-menu-img.jpg' %}
            {% endif %}
            <div class="col-sm-6 check-menu">
                <img src="{{ asset(link_image) }}" alt="" />
                <div class="overlay-nav-text">
                    {% if link.link is not empty %}
                        {% set link_doc = sulu_content_load(link.link) %}
                        {% set link_doc = link_doc.content.url %}
                    {% else %}
                        {% set link_doc = '' %}
                    {% endif %}
                    <a href="{{ sulu_content_path(link_doc) }}"> {{ link.title }}</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}            
        </div>
        
        <div class="col-sm-4 contact-section">
        	<div class="contact-form-section">
            	<div class="overlay-content"></div>
                <div class="contact-form">
                	<h2>{% trans %}CONTACT US{% endtrans %}</h2>
                    <div class="form-row">
                    	<label>Hello my name is</label>
                        <input type="text" />
                    </div>
                    <div class="form-row">
                    	<label>I’m interested in</label>
                        <input type="text" />
                    </div>
                    <div class="form-row">
                    	<label>Here’s my e-mail</label>
                        <input type="email" />
                    </div>
                    <div class="form-row">
                    	<label>I can give you more details</label>
                       <input type="text" class="width55" />
                       <input type="text" class="width100" />
                       <input type="text" class="width100" />
                       <input type="text" class="width100" />
                    </div>
                    <div class="form-row">
                    	<input type="submit" value="Send" />
                    </div>
                </div>
            
            </div>
        </div>
        </div>
    
  </div>


<div class="push"></div>
{% endblock%}