{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% macro package(title,content) %}
    <div class="our-menu-content-list">
                <h2>{{ title }}</h2>
        {% if content.food is defined or content.drinks is defined %}
            {{ _self.dishes(content) }}
        {% else %}
            {% if content.sub is defined %}
                {% set display_content = content.sub%}
            {% else %}
                {% set display_content = content%}
            {% endif %}
            
            {% if content.note is defined  %}
                {% set sub_note = content.note %}
            {% else %}
                {% set sub_note = null %}
            {% endif %}

            {% for meal_title,meal_content in display_content %}
                {{ _self.plan(meal_title,meal_content,sub_note) }}
            {% endfor %}
            
        {% endif %}
    </div>
{% endmacro %}

{% macro plan(title,content,note) %}
    <article class="ourmenu-content">
        {% if title != null and title is not empty %}
        <h4>{{ title }}</h4>
        {% endif %}

        {% if note is not null %}
            <p><em>{{ note }}</em></p>
        {% endif %}

        {% if content.food is defined or content.drinks is defined %}
            {{ _self.dishes(content) }}
        {% endif %}

        {% if content.sub is defined %}
            {% set display_content = content.sub %}
        {% elseif content.food is not defined and content.drinks is not defined %}
            {% set display_content = content%}
        {% else %}
            {% set display_content = null %}
        {% endif %}
        

        {% if display_content != null  %}
            {% for meal_title,meal_content in display_content %}
                {{ _self.meal(meal_title,meal_content)}}
            {% endfor %}
        {% endif %}
      </article>
{% endmacro %}

{% macro meal(title,content)%}
    <div class="ourmenu-meal">
    <h5>{{title}}</h5>
    {% if content.sub is defined %}
        {% for sub_title,sub_content in content.sub %}
            {{ _self.meal(sub_title,sub_content) }}
        {% endfor %}
    {% else %}
            {{ _self.dishes(content) }}
    {% endif %}
    </div>
{% endmacro %}

{% macro dishes(content) %}
    <ul>
        {% if content.note is defined %}
        <li>
            <em>{{content.note|nl2br}}</em>
        </li>
        {% endif %}
        {% if content.food is defined or content.drinks is defined %}
              {% if content.food is defined %}
                  {% for title in content.food %}
                      <li><a>{{ title }}</a></li>
                  {% endfor %}
              {% endif %}
              {% if content.drinks is defined%}
                    {% if content.food is defined and content.drinks|length <= 4%}
                  <li>
                    <a>
                        {% if content.drinks| length > 1 %}
                            {% for title in content.drinks %}{% if not loop.first and not loop.last %}, {%elseif loop.last %}{{', and'|trans}}{% endif %} {{ title|trim }}{% endfor %}
                        {% elseif content.drinks| length == 1 %}
                            {{ content.drinks[0]|trim }}
                        {% endif %}
                    </a>
                  </li>
                  {% else %}
                      {% for title in content.drinks %}
                          <li><a>{{title}}</a></li>
                      {% endfor %}
                  {% endif %}
              {% endif %}       
        {% endif %}
    </ul>
{% endmacro%}
    
{% block content %}
    {% if content.header_images is defined and content.header_images is not empty %}
        {% set section_image = random(content.header_images)%}
        {% set section_image = section_image.thumbnails['section-header-corp']%}
    {% else %}
        {% set section_image = 'bundles/pmgsocial/pmg_social/default/images/our-menu-banner.jpg'%}        
    {% endif %}
    
<div class="banner-section">
    <div class="banner-img">
        <img src="{{ asset(section_image)}}" alt="" />
          <h1>{{ content.title }}</h1>
    </div>
  </div>
  
  <div class="inner-content-section ourmenu-page-section">
    <div class="container">
      <div class="row">
        <div class="parentVerticalTab">
          <div class="equal-table-height">
            <div class="our-menu-left">
              <div class="title-heading">{{content.selection_phrase}}</div>
              <ul class="resp-tabs-list hor_1">
                {% for package_name,package_key in menu_index %}
                    <li> {{package_name}}</li>
                {% endfor %}
              </ul>
            </div>
              <div class="resp-tabs-container hor_1">
                    {% for package_key,package_content in menu%}
                      {{ _self.package(package_key,package_content) }}
                    {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="push"></div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">

$(document).ready(function() {

	$(".tab_content").hide();
	$(".tab_content:first").show(); 

	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		var activeTab = $(this).attr("rel"); 
		$("#"+activeTab).fadeIn(); 
	});
});

</script> 
<script type="text/javascript">
    $(document).ready(function() {
        //Vertical Tab
        $('.parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
{% endblock %}