{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    {% if content.image is defined and content.image is not empty %}
        {% set section_image = random(content.image)%}
        {% set section_image = section_image.thumbnails['section-header-corp']%}
    {% else %}
        {% set section_image = 'bundles/pmgsocial/pmg_corp/images/testimonial-banner.jpg'%}        
    {% endif %}

    
   <div class="banner-section">
    <div class="banner-img"><img src="{{ asset(section_image) }}" alt="" />
    
    </div>
  </div>
  <div class="inner-content-section testimonial-page-section">
      <h2>{{ content.title }}</h2>
    <div class="container">
      <div class="testimonial-list-section">
        {% if content.testimonials is defined and content.testimonials is not empty%}
            {% for testimonial in content.testimonials %}
        <article class="testimonial-list-box">
          <div class="testimonial-list-content">
              <p>{{ testimonial.article|nl2br}}</p>
          </div>
          <div class="testimonial-author-part">
            <h6>{{ testimonial.title}}</h6>
            <h6>{{ testimonial.description }}</h6>
          </div>
        </article>
            {% endfor %}
        {% else %}
        <article class="testimonial-list-box">
          <div class="testimonial-list-content">
              <p>{%trans%}Coming soon{%endtrans%}</p>
          </div>
          <div class="testimonial-author-part">
            <h6>{%trans%}Coming soon{%endtrans%}</h6>
            <h6></h6>
          </div>
        </article>        
        {% endif %}
      </div>
    </div>
  </div>

  <div class="push"></div>

{% endblock %}