{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    {% if content.header_images is defined and content.header_images is not empty %}
        {% set section_image = random(content.header_images)%}
        {% set section_image = section_image.thumbnails['section-header']%}
    {% else %}
        {% set section_image = 'bundles/pmgsocial/pmg_social/default/images/menu-banner-bg.jpg'%}        
    {% endif %}

<div class="banner-section">
    <div class="banner-img menu-bannerimg">
        <img src="{{ asset(section_image )}}" alt="{{content.title}}" />
    </div>
  </div>
  <div class="halls-information-section">
    <div class="container">
      <h2>{{ content.title }}</h2>
      <p> {{ content.description }}</p>
    </div>
  </div>
  <div class="dimension-section">
    <div class="page-heading">
      <h2> {% trans %}Dimensions & Capacity{% endtrans %}</h2>
    </div>
    <div class="dimension-content-box">
      <div class="table-responsive">
        <table>
            <thead>
          	<tr>
                    <th>{% trans %}Hall{% endtrans %}</th>
                    <th>{% trans %}Dimensions (ft){% endtrans %}</th>
                    <th>{% trans %}Sq. Feet{% endtrans %}</th>
                    <th>{% trans %}Height (ft){% endtrans %}</th>
                    <th>{% trans %}Reception/Cocktail{% endtrans %}</th>
                    <th>{% trans %}Banquet{% endtrans %}</th>
                    <th>{% trans %}Theater/Classroom{% endtrans %}</th>
                  </tr>
            </thead>
          <tbody>
            {% if content.rows is iterable and  content.rows is not empty%}
              {%for row in content.rows %}
            <tr>
              <td>{{row.hall}}</td>
              <td>{{row.dimensions}}</td>
              <td>{{row.sq_feet}}</td>
              <td>{{row.height}}</td>
              <td>{{row.reception}}</td>
              <td>{{row.banquet}}</td>
              <td>{{row.theater}}</td>
            </tr>
                {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="halls-stup-section">
    <div class="setup-content">
      <div class="page-heading">
        <h2>{% trans %}Hall Setup{% endtrans %}</h2>
      </div>
        {% if content.hall_setup is iterable and content.hall_setup is not empty %}
      <div class="setup-info-box">
           <img src="{{ asset(content.hall_setup[0].url)}}" alt="" />
      </div>
        {% endif %}
        {% set download_link = '' %}
      {% if content.download_info is iterable and content.download_info[0] is defined %}
        <div class="download-btn"> <a href="{{ download_link }}" target="_blank">
                {% trans %}Download the complete hall info{% endtrans %}
          </a> </div>
    {% endif %}
    </div>
</div>
{% if content.gallery is defined and content.gallery is not empty and content.gallery.images is iterable and content.gallery.images is not empty%}
    {% include 'PmgSocialBundle:snippets:gallery.snippet.html.twig' with { 'content' : content.gallery, 'title' : null} %}
{% endif %}
  <div class="push"></div>
{% endblock %}

