{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
<div class="banner-section">
    <div class="banner-img menu-bannerimg">
        <img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/banner-img.jpg')}}" alt="" /></div>
  </div>
  <div class="our-halls-section">
    <div class="page-heading">
      <h2>{{ content.title }}</h2>
    </div>
    <div class="halls-listing-section">
      <div class="row">
        {% if content.halls_list is not empty %}
            {% for link in content.halls_list %}
            {% set linkDoc = sulu_content_load(link.uuid) %}
            {% set linkContent = linkDoc.content %}
        <div class="col-sm-3 halls-list-box">
          <div class="halls-list-img">
              {% if linkContent.header_images is not empty %}
              <img src="{{ asset(linkContent.header_images[0].thumbnails['150x100'])}}" alt="" />
              {% else %}
              <img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/halls-list-1.jpg')}}" alt="" />
              {% endif %}    
              
          </div>
          <div class="halls-list-info">
            <div class="halls-content">
              <h4>{{ link.title }}</h4>
              <p> {{ linkContent.description |slice(1, 45) }} </p>
            </div>
            <div class="more-info-btn"> <a href="{{ sulu_content_path(linkDoc.url,linkDoc.webspacekey) }}">&plus;</a> </div>
          </div>
        </div>
          {% endfor%}
        {% endif %}
      </div>
    </div>
  </div>
  {% if content.menu_link is defined and content.menu_link is not empty %}
  {% set menu_link = sulu_content_load(content.menu_link) %}
      <div class="over-menu-section">
    <div class="menu-img"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/menu-img.jpg')}}" alt="" /></div>
    <div class="check-menu-btn"> <a href="{{ sulu_content_path(menu_link.content.url) }}">{% trans %}Check out our menus{% endtrans %}</a> </div>
  </div>
  {% endif %}
    {% if content.gallery is iterable and content.gallery is not empty%}
        {% for gallery in content.gallery %}
        {% include 'PmgSocialBundle:snippets:gallery.snippet.html.twig' with { 'content' : gallery } %}
        {% endfor %}
    {% endif %}

  <div class="push"></div>
{% endblock %}
