{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    {% if content.slides is defined and content.slides is not empty %}
        {% set section_image = random(content.slides)%}
        {% set section_image = section_image.thumbnails['section-header']%}
    {% else %}
        {% set section_image = 'bundles/pmgsocial/pmg_social/default/images/menu-banner-bg.jpg'%}        
    {% endif %}

  <div class="banner-section" vocab="http://schema.org/" typeof="Content">
    <div class="banner-img">
            <img src="{{ asset(section_image) }}" alt="{{content.title}}" />
    </div>
    <div class="main-info">
      <div class="row">
        <div class="col-md-8 left-info">
          <h2>{{ content.slogan }}</h2>
          <p>{{ content.slogan_text }}</p>
        </div>
        <div class="col-md-4 right-info">
          <div class="right-info-content">
            <div class="highlight-text-box"> <span class="highlighted-text">{{ content.first_number }}</span> {{ content.first_number_text }}</div>
            <div class="highlight-text-box"> <span class="highlighted-text">{{ content.second_number }} </span> {{ content.second_number_text }} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-section">
    <div class="service-text"> 
        <span class="bridal-text">{% trans %}Bridal Showers{% endtrans %}</span> 
        <span class="wedding-text">{% trans %}Weddings{% endtrans %}</span> 
        <span class="baptisms-text">{% trans %}Baptisms{% endtrans %}</span> 
        <span class="anniversaries-text">{% trans %}Anniversaries{% endtrans %}</span> 
        <span class="musical-text">{% trans %}Musical Evenings{% endtrans %}</span> </div>
  </div>
  {% if content.menu_link is defined and content.menu_link is not empty %}
    {% set menu_link = sulu_content_load(content.menu_link) %}
  <div class="over-menu-section">
    <div class="menu-img"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/menu-img.jpg') }}" alt="" /></div>
    <div class="check-menu-btn">
        <a href="{{ sulu_content_path(menu_link.content.url) }}">{% trans %}Check out our menus{% endtrans %}</a>
    </div>
  </div>
  {% endif %}
  {% if content.testimonials is defined and content.testimonials is not empty%}
    <div class="testimonial-section">
    <div class="container">
      <div class="testimonial-title">
        <h2>{% trans %}Testimonials{% endtrans %}</h2>
        <div class="read-more-btn"><a href="testimonials.html">{% trans %}Read more{% endtrans %}</a></div>
      </div>
      <div class="testimonial-content">
        <p> “Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.” </p>
        <div class="author-name"> - Black Theatre </div>
      </div>
    </div>
  </div>
{% endif %}
{% if content.halls_list is defined and content.halls_list is not empty %}
    {% set hall_content = [] %}
    {% for hall in content.halls_list %}
        {% set hall_content = hall_content|merge({ (loop.index) : sulu_content_load(hall.uuid)})  %}
    {% endfor %}
    <div class="halls-section homebanner">
    <div class="row">
      <div class="col-sm-9 halls-title-right">
        <div class="halls-title-img"> <img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/halls-title-img.jpg') }}" alt="" />
          <h2>Our Halls</h2>
        </div>
      </div>
      <div class="col-sm-3 halls-menu-left">
        <div class="halls-menu-section venue_set_ctn">
           {% for hall in hall_content %}
          <div class="halss-menu-box venue_ctn box-{{loop.revindex}}" data-venue="international-room"> <a href="javascript:void(0)">{{hall.content.title}}</a> </div>
          {% endfor %}
          <!--
          <div class="halss-menu-box venue_ctn box-2" data-venue="madriad-rio"> <a href="javascript:void(0)">Madrid - Rio</a> </div>
          <div class="halss-menu-box venue_ctn box-3" data-venue="berlin"> <a href="javascript:void(0)">Berlin</a> </div>
          <div class="halss-menu-box venue_ctn box-4" data-venue="oslo"> <a href="javascript:void(0)">Oslo</a> </div>
          <div class="halss-menu-box venue_ctn box-5" data-venue="paris-rome"> <a href="javascript:void(0)">Paris - Rome</a> </div>
          <div class="halss-menu-box venue_ctn box-6" data-venue="venise"> <a href="javascript:void(0)">Venise</a> </div>
          <div class="halss-menu-box venue_ctn box-7" data-venue="connexion-lounge"> <a href="javascript:void(0)">Connexion Lounge</a> </div>
          <div class="halss-menu-box venue_ctn box-8" data-venue="restaurant-volare"> <a href="javascript:void(0)">Restaurant Volare</a> </div>
          <div class="halss-menu-box venue_ctn box-9" data-venue="outdoor-garden"> <a href="javascript:void(0)">The Outdoor Garden</a> </div>
          <div class="halss-menu-box venue_ctn box-11" data-venue="outdoor-garden-2"> <a href="javascript:void(0)">The Outdoor Garden #2</a> </div>
          <div class="halss-menu-box venue_ctn box-10" data-venue="the-tent"> <a href="javascript:void(0)">The Tent</a> </div>
          <div class="halss-menu-box venue_ctn box-12" data-venue="new-york-suite"> <a href="javascript:void(0)">New York Suite</a> </div>
          -->
        </div>
      </div>
    </div>
    <!-- <div class="show-hide-box" id="showbox-1">
      <div class="close-btn">&times;</div>
      <div class="show-img"> <img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/show-box-1.jpg') }}" alt="" /> </div>
      <div class="halls-show-content">
        <div class="halls-info">
          <p> One of the largest halls in the Greater Montreal area, it can easily accommodate 2,000 attendees for events, meetings, conventions and exhibits. With the ability to divide into 4 different sections, this flexible space can easily meet the needs of a variety of simultaneous functions. The uniqueness of the International room is complemented by a 4 seasons 3600 square feet tent, with a 20 foot ceiling, giving your event an exotic environment. </p>
        </div>
      </div>
    </div> -->

    <div class="overlay_ctn">
        {% if hall_content is not empty %}
        {% for hall in hall_content %}
            
            {% set hall_image = 'bundles/pmgsocial/pmg_social/default/images/international-room-img.jpg' %}
            
            {% if hall.content.header_images is defined and hall.content.header_images is not empty and hall.content.header_images is iterable %}
                {% set hall_image = random(hall.content.header_images) %}
                {% set hall_image = hall_image.thumbnails['thumbnails'] %}
            {% endif %}
        <div style="background-image: url({{ asset(hall_image) }} );" class="venue_banner international-room" data-imgsrc="{{ asset(hall_image) }}">
          <div class="line_ctn">
            <p>{{hall.content.description}}</p>
          </div>
        </div> 
        {% endfor %}
        {% endif %}
        <!--
            <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/madriad-rio-img.jpg') }} );" class="venue_banner madriad-rio" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/madriad-rio-img.jpg') }}">
          <div class="line_ctn">
            <p>The combined rooms cans host smaller groups of 50 to 60 people and be separated for more intimate events. The total space is 2080 square feet.</p>
          </div>
        </div>
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/berlin-img.jpg') }} );" class="venue_banner berlin" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/berlin-img.jpg') }}">
          <div class="line_ctn">
            <p>Each of these rooms cans host between 50 to 70 people. They offer an elegant setting for cocktails and receptions. These rooms are also ideally suited for additional planner office space or a speaker-ready room. </p>
          </div>
        </div>
        
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/oslo-img.jpg') }} );" class="venue_banner oslo" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/oslo-img.jpg') }}">
          <div class="line_ctn">
            <p>Each of these rooms cans host between 50 to 70 people. They offer an elegant setting for cocktails and receptions. These rooms are also ideally suited for additional planner office space or a speaker-ready room. </p>
          </div>
        </div>
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/paris-rome-img.jpg') }} );" class="venue_banner paris-rome" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/paris-rome-img.jpg') }}">
          <div class="line_ctn">
            <p>The Paris - Rome Ballroom features 3100 square feet of flexible meeting space that can break down into two sections or be used for exhibitions. This ballroom is accompanied by a 2000 square foot foyer for pre-function events, and is conveniently located adjacent to the new exhibit hall. </p>
          </div>
        </div>
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/venise-img.jpg') }} );" class="venue_banner venise" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/venise-img.jpg') }}">
          <div class="line_ctn">
            <p>For groups between 120 and 150 the Venise room features 2380 square feet with 12" ceiling and offers maximum flexibility.</p>
          </div>
        </div>
        
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/connexion-lounge-img.jpg') }} );" class="venue_banner connexion-lounge" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/connexion-lounge-img.jpg') }}">
          <div class="line_ctn">
            <p>A relaxing area with full bar service. Television and Pool room</p>
          </div>
        </div>
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/restaurant-volare-img.jpg') }} );" class="venue_banner restaurant-volare" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/restaurant-volare-img.jpg') }}">
          <div class="line_ctn">
            <p>Open for breakfast lunch and diner. Can also be used for pre function cocktails and banquet hall. </p>
          </div>
        </div>
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/outdoor-garden-img.jpg') }} );" class="venue_banner outdoor-garden" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/outdoor-garden-img.jpg') }}">
          <div class="line_ctn">
            <p>During the summer extend your event to our garden area. </p>
          </div>
        </div>
        
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/outdoor-garden-2-img.jpg') }} );" class="venue_banner outdoor-garden-2" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/outdoor-garden-2-img.jpg') }}">
          <div class="line_ctn">
            <p>During the summer extend your event to our garden area. </p>
          </div>
        </div>
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/the-tent-img.jpg') }} );" class="venue_banner the-tent" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/the-tent-img.jpg') }}">
          <div class="line_ctn">
            <p>It’s just a tent where you can have parties!</p>
          </div>
        </div>
        <div style="background-image: url({{ asset('bundles/pmgsocial/pmg_social/default/images/new-york-suite-img.jpg') }} );" class="venue_banner new-york-suite" data-imgsrc="{{ asset('bundles/pmgsocial/pmg_social/default/images/new-york-suite-img.jpg') }}">
          <div class="line_ctn">
            <p>or executives and board meetings. This room provides 15 high-black leather chairs around a 12 foot table. </p>
          </div>
        </div>
        -->
      </div>
  </div>
{% endif %}
{% if content.location is defined and content.location is not empty %}
{% set location = content.location %}
 <div class="contact-map-section">
    <div class="map-part">
      <div id="googleMap" class="map-google"></div>
    </div>
    <div class="container">
      <div class="contact-info">
        <h2>{% trans %}Contact us{% endtrans %}</h2>
        <div class="contact-content">
          <p>{{ location.location.number~' '~location.location.street~', '~location.location.town~' '~location.location.code }}. Canada</p>
          <p> <strong>Tel:</strong>
            {% for phone in location.phones %}
            {{ phone.phone }}
            {% if loop.last == false %}
                <br/>
            {% endif %}
            {% endfor %}
          </p>
          <p> <strong>{% trans %}Fax:{% endtrans %}</strong>
            {% for phone in location.faxes %}
            {{ phone.phone }}
            {% if loop.last == false%}
                <br/>
            {% endif %}
            {% endfor %}
          </p>
          <p>
            {% for email in location.emails %}
            <a href="mailto:{{ email.email|raw }}">{{email.email}}</a>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
          
<div class="push"></div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
{% if content.location is defined and content.location is not empty %}
{% set location = content.location %}

    function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng({{ location.location.lat|raw }},{{ location.location.long|raw}}),
	
    zoom:{{ location.location.zoom|raw }},
    panControl:false,
    zoomControl:false,
    mapTypeControl:false,
    scaleControl:false,
    streetViewControl:false,
    overviewMapControl:false,
    rotateControl:false,    
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
{% endif %}
</script>
<script>
	$(function(){
		var venue, bannerimg;
		$('[data-imgsrc]').each(function(i, obj) {
		    bannerimg = $(this).data('imgsrc');
		    $(this).css('background-image', 'url("'+bannerimg+'")');
		});
		$('[data-venue]').hover(function(){
			venue = $(this).data('venue');
			$('.venue_ctn').addClass('inactive');
			$(this).removeClass('inactive');
			$('.'+venue).addClass('active');
		}, function(){
			$('.venue_ctn').removeClass('inactive');
			$('.'+venue).removeClass('active');
		});
	});
</script> 
{% endblock %}
