{% macro package(title,content,menu_index) %}
    <div class="menu-content-part collapse" id="menu-option-{{ menu_index[title]|raw }}" >
        {% if content.food is defined or content.drinks is defined %}
            <article class="menu-listing-box">
                <ul><li>
                        
            {{ _self.dishes(content) }}
                    </li></ul>
            </article>
        {% else %}
            {% if content.sub is defined %}
                {% set display_content = content.sub%}
            {% else %}
                {% set display_content = content%}
            {% endif %}
            
            {% if content.note is defined  %}
                {% set sub_note = content.note %}
            {% else %}
                {% set sub_note = null %}
            {% endif %}
            
            {% for meal_title,meal_content  in display_content %}
                {{ _self.plan(meal_title,meal_content,menu_index[title],loop.index,sub_note) }}
            {% endfor %}
            
        {% endif %}
    </div>
{% endmacro %}

{% macro plan(title,content,parent_id,index,note) %}

      <article class="menu-listing-box">
        <a data-toggle="collapse" href="#{{parent_id~'-'~index}}" aria-expanded="false" aria-controls="menu-list"></span>
        <h2><span>{{ title }}</span><br><span class="down-arrow"></h2>
        </a>
        
        <div class="collapse" id="{{parent_id~'-'~index}}">
        <p>{% if note is not null %}
            {{ note }}
        {% endif %}
        </p>
            <ul>
                {% if content.sub is defined %}
                    {% set display_content = content.sub%}
                {% else %}
                    {% set display_content = content%}
                {% endif %}
    
            {% if content.food is defined or content.drinks is defined%}
                {{ _self.dishes(content) }}
            {% elseif display_content is iterable %}
                {% for meal_title,meal_content in display_content %}
                    <li>
                    {{ _self.meal(meal_title,meal_content)}}
                    </li>
                {% endfor %}
            {% else %}
                <li>
            {{ _self.dishes(display_content) }}    
                </li>
            {% endif %}
            </ul>
        </div>
      </article>

{% endmacro %}

{% macro meal(title,content)%}
    {% if content.sub is defined %}
        {% for sub_title,sub_content in content.sub %}
        {{ _self.meal(sub_title,sub_content) }}
        {% endfor %}
    {% else %}
        <ul>
            <li><a><span class="meal-title"><strong>{{title}}</strong></span></a></li>
            <li>{{ _self.dishes(content) }}</li>
        </ul>
    {% endif %}
{% endmacro %}

{% macro dishes(content) %}
    <p>{% if content.note is defined %}
        {{content.note|nl2br}}
    {% endif %}
    </p>
    {% if content.food is defined or content.drinks is defined %}
        <ul>
          {% if content.food is defined %}
              {% for title in content.food %}
                  <li><a>{{ title }}</a></li>
              {% endfor %}
          {% endif %}
          {% if content.drinks is defined%}
                {% if content.food is defined %}
              <li>
                <a href="">
                    {% if content.drinks| length > 1 %}
                        {% for title in content.drinks %}{% if not loop.first and not loop.last %}, {%elseif loop.last %}{{', and'|trans}}{% endif %} {{ title|trim }}{% endfor %}
                    {% elseif content.drinks| length == 1 %}
                        {{ content.drinks[0]|trim }}
                    {% endif %}
                </a>
              </li>
              {% else %}
                  {% for title in content.drinks %}
                      <li><a>{{title}}</a></li>
                  {% endfor %}
              {% endif %}
          {% endif %}
        </ul>
    {% else %}
        {% for sub_title,sub_content in content %}
        {{ _self.meal(sub_title,sub_content) }}
        {% endfor %}    
    {% endif %}
{% endmacro%}
    
{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    {% if content.header_images is defined and content.header_images is not empty %}
        {% set section_image = random(content.header_images)%}
        {% set section_image = section_image.thumbnails['section-header']%}
    {% else %}
        {% set section_image = 'bundles/pmgsocial/pmg_social/default/images/menu-banner-bg.jpg'%}        
    {% endif %}

<div class="banner-section">
    <div class="banner-img menu-bannerimg"><img src="{{ asset(section_image)}}" alt="" /></div>
  </div>
  <div id="menu-parent">
    <div class="package-section">
      <div class="container-fluid">
        <h2>choose from our 2 packages</h2>
        <div class="package-btns">
            {% for package_name,package_key in menu_index %}
            <a href="#menu-option-{{package_key|raw}}" class="menu-option-{{package_key|raw}}">{{package_name}}</a>
            {% endfor %}
        </div>
      </div>
    </div>
    <div class="menu-list-section">
      {% for package_key,package_content in menu%}
        {{ _self.package(package_key,package_content,menu_index) }}
      {% endfor %}
    </div>
   </div> 
  <div class="push"></div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
    
   $(document).ready(function(){
          // Show chosen div, and hide all others
        $(".package-btns a:first-child").addClass("active");
        var classa = $('.package-btns a:first-child').attr('class');
        var st = classa.split(' ');
        var firstClass = st[0];
        $("#" + firstClass).slideDown()
        
        $(".package-btns a").click(function (e) 
        {
            e.preventDefault();
            $("#" + $(this).attr("class")).slideDown().siblings('div').hide();
            $("." + $(this).attr("class")).addClass("active").siblings('a').removeClass("active");
            //$("#" + $(this).attr("class")).addClass("active");
        });

    });
   
   $('.menu-listing-box .collapse').on('shown.bs.collapse', function(){
	$(this).parent().find(".down-arrow").removeClass("down-arrow").addClass("up-arrow", 1000);
	}).on('hidden.bs.collapse', function(){
	$(this).parent().find(".up-arrow").removeClass("up-arrow").addClass("down-arrow");
	});
    </script>
{% endblock %}