{% extends "PmgSocialBundle:views:master.html.twig" %}

{% block meta %}{% include "PmgSocialBundle:blocks:meta.html.twig" %}{% endblock %}

{% block content %}
    {% if content.header_images is defined and content.header_images is not empty %}
        {% set section_image = random(content.header_images)%}
        {% set section_image = section_image.thumbnails['section-header']%}
    {% else %}
        {% set section_image = 'bundles/pmgsocial/pmg_social/default/images/menu-banner-bg.jpg'%}        
    {% endif %}

  <div class="banner-section">
    <div class="banner-img menu-bannerimg">
    	<img src="{{ asset(section_image) }}" alt="" />
    </div>
  </div>
  {% if content.block is not empty %}
  {% for testimonial in content.block%}
      {% set class_names = '' %}
      {% if loop.last == true %}
          {% set class_names = class_names~' last-section'%}
      {% else %}
        {%if loop.index%2 == 0%}
            {% set class_names = class_names~' pink-testimonial'%}
        {% else %}
            {% set class_names = class_names~' black-testimonial'%}
        {% endif %}
      {% endif %}
  <div class="tetimonial-section {{class_names}}">
  	<div class="container">
        {% if loop.first == true %}
    	<div class="page-heading">
          	<h2>{{ content.title}}</h2>
        </div>
        {% endif %}
    	<div class="row">
            {% if loop.index%2 == true %}
            <div class="col-sm-8 testimonial-info">
            	<p>
                	<strong>"</strong> {{testimonial.article}} <strong>"</strong></p>
            </div>
            {% endif %}
            <div class="col-sm-4 testimonial-author">
                {% if testimonial.images is defined and testimonial.images is not empty %}
                    {% if testimonial.images is defined and testimonial.images is not empty %}
                        {% set section_image = random(testimonial.images)%}
                        {% set section_image = section_image.thumbnails['section-header']%}
                    {% else %}
                        {% set section_image = 'bundles/pmgsocial/pmg_social/default/images/testimonial-1.jpg'%}        
                    {% endif %}

            	<div class="testimonial-img"><img src="{{ asset(section_image) }}" alt="" /></div>
                {% endif %}
                <div class="author-info">
                	<h4>{{ testimonial.title }}</h4>
                        
                    <div class="event-info">{{ testimonial.info| nl2br }}</div>
                    
                </div>
            </div>
            {% if loop.index%2 == false %}
            <div class="col-sm-8 testimonial-info">
            	<p>
                	<strong>"</strong> {{testimonial.article}} <strong>"</strong></p>
            </div>
            {% endif %}

        </div>
    </div>
  </div>
  {% endfor %}
  {% endif%}
  
  <div class="push"></div>

{% endblock %}