{% if pmg_corp is defined and pmg_corp.social_profiles[webspace_key] is defined and pmg_social.social_profiles[webspace_key] is not empty %}
    {% set social_profiles = pmg_corp.social_profiles[webspace_key] %}
<div class="social-media">
    <ul>
    {% set facebook_link = social_profiles.facebook is defined ? social_profiles.facebook : 'https://www.facebook.com/LaPlazaPMG'%}
    {% set twitter_link = social_profiles.twitter is defined ? social_profiles.twitter : ' https://twitter.com/plazapmg'%}
    {% set instagram_link = social_profiles.instagram is defined ? social_profiles.instagram : '  https://www.instagram.com/pmg.group/'%}

    <li><a href="{{ social_profiles.facebook }}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/fb-icon.png') }}" alt="" /></a></li>
    <li><a href="{{ social_profiles.twitter }}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/twitter-icon.png') }}" alt="" /></a></li>
    <li><a href="{{social_profiles.linkedin}}"><img src="{{ asset('bundles/pmgsocial/pmg_social/default/images/linked-icon.png') }}" alt="" /></a></li>
`   </ul>
</div>
{% endif %}
